/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("images/background 1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.section-box {
    background-color: #f8f9fa;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

#hero {
    background-color: #e3